{% liquid 

    assign is_low_stock_figures = false
    assign is_low_stock_apparel = false
    
    if card_product.selected_or_first_available_variant.inventory_quantity <= settings.figure_low_stock_threshold
        unless card_product.available and card_product.selected_or_first_available_variant.inventory_quantity <= 0
            assign is_low_stock_figures = true
        endunless
    endif

    if card_product.selected_or_first_available_variant.inventory_quantity <= settings.apparel_low_stock_threshold
        unless card_product.available and card_product.selected_or_first_available_variant.inventory_quantity <= 0
            assign is_low_stock_apparel = true
        endunless
    endif

-%}

{% if card_product.tags contains "not-on-sale-yet" %}
    <span class="dropping-soon-on-card" style="background-color:#2D6961;">
    DROPPING
    <br> 
    SOON
    </span>
{% endif %}
{% if card_product.tags contains "temp-unavailable" %}
    <span class="dropping-soon-on-card" style="background-color:#7D0053;">
    TEMPORARILY
    <br> 
    UNAVAILABLE
    </span>
{% endif %}
{% if card_product.tags contains "retail-exclusive" %}
    <span class="dropping-soon-on-card" style="background-color:#782ae6;">
    RETAIL
    <br> 
    EXCLUSIVE
    </span>
{% endif %}

{% if card_product.available == false %}
    {% unless card_product.tags contains "not-on-sale-yet" or card_product.tags contains "temp-unavailable" or card_product.tags contains 'retail-exclusive' %}
    <span class="dropping-soon-on-card sold-out-badge" style="background-color:#BA0011;">
        SOLD OUT
    </span>
    {% endunless %}
{% endif %}

{% comment %} presale products will not show low stock. This can be changed later if we'd like{% endcomment %}
{% unless card_product.available == false %}

    {% if card_product.type == "MEGA PIX!" or card_product.type == "PIX!" or card_product.type == "PIX2.0" or card_product.type == "PIXL" %}
        {% if is_low_stock_figures %}
            <span class="dropping-soon-on-card low-stock-badge" style="background-color:#fbff18; color: black;">
                LOW STOCK
            </span>  
        {% endif %}
    {% endif %}

    {% if card_product.type == "Bucket Hat" or card_product.type == "Cap" or card_product.type == "Jersey" or card_product.type == "T-Shirt" or card_product.type == "Jumpsuit" %}
        {% if is_low_stock_apparel %}
            <span class="dropping-soon-on-card low-stock-badge" style="background-color:#fbff18; color: black;">
                LOW STOCK
            </span>
        {% endif %}
    {% endif %}
    
{% endunless %}

{% if card_product.tags contains "presale" %}
    {% unless card_product.tags contains 'not-on-sale-yet' or is_low_stock == true %}
        <span class="dropping-soon-on-card presale-badge" style="background-color:#2a49e6;">
            PRESALE
        </span>
    {% endunless %}
{% endif %}

