{% if card_product.tags contains "not-on-sale-yet" %}
    <span class="dropping-soon-on-card" style="background-color:#2D6961;">
    DROPPING
    <br> 
    SOON
    </span>
{% endif %}
{% if card_product.tags contains "temp-unavailable" %}
    <span class="dropping-soon-on-card" style="background-color:#7D0053;">
    TEMPORARILY
    <br> 
    UNAVAILABLE
    </span>
{% endif %}

{% if card_product.tags contains "retail-exclusive" %}
    <span class="dropping-soon-on-card" style="background-color:#782ae6;">
    RETAIL
    <br> 
    EXCLUSIVE
    </span>
{% endif %}

{% if card_product.tags contains "presale" %}
    <span class="dropping-soon-on-card" style="background-color:#2a49e6;">
    PRESALE
    </span>
{% endif %}

{% if card_product.available == false %}
    {% unless card_product.tags contains "not-on-sale-yet" or card_product.tags contains "temp-unavailable" or card_product.tags contains 'retail-exclusive' %}
    <span class="dropping-soon-on-card" style="background-color:#BA0011;">
        SOLD OUT
    </span>
    {% endunless %}
{% endif %}